name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v6
      - id: setup_node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - id: install_bats
        run: npm install -g bats
      - id: check_bats_version
        run: bats -v
